/* Styles for the product container */
.productContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust to move the items apart */
    margin: 20px;
    border: 1px solid #000000; /* Add border or other styling if needed */
    border-radius: 8px;

  }
  
  /* Styles for the main image and information */
  .mainInfo {
    padding: 50px;
    align-items: center;
    display: inline;
  }
  
  /* Styles for the main image */
  .mainImage {
    width: 450px;
    height: 450px;
    border: 1px solid #000000; /* Add border or other styling if needed */
    border-radius: 8px;
  }
  .thumbnailContainer {
    display: flex;
    flex-wrap: wrap; /* Allow thumbnails to wrap to the next line if needed */
    padding: 10px 0px 0px 10px;
    margin-top: 20px;
    border: 1px solid #000000; 
  }
  
  /* Styles for the thumbnail images */
  .thumbnailImage {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px; /* Add margin between thumbnails */
    cursor: pointer;
    border: none;
  }
  
  /* Highlight the selected thumbnail image */
  .thumbnailImage.active {
    border: 2px solid red;
  }
  
  /* Styles for the product details container */
  .productDetailsContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 5%;
    width: 500px; /* Set your desired width */
  }
  
  
  /* Styles for the form and information */
  .productForm {
    margin-left: 20px;
  }
  
  /* Styles for the table */
  .productTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

  }
  
  
  /* Styles for the buttons */
  .submitButton {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .addToCart {
    background-color: #4caf50;
  }
  
  .addToFavorite {
    background-color: #c01d1d;
  }
  
  .submitButton:hover {
    background-color: #45a049;
  }
  .addToFavorite:hover {
    background-color: #890909;
  }
  
.select{
    margin-left: 10px;
    padding: 2px;
}
.input{
    margin-left: 13px;
    max-width: 50px;
    padding: 2px;
}
  